*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
color:#222;
}

nav{
background:#102542;
color:white;
display:flex;
justify-content:space-between;
padding:20px 8%;
}

ul{
display:flex;
gap:25px;
list-style:none;
}

a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
background:linear-gradient(#0008,#0008),url('https://images.unsplash.com/photo-1518770660439-4636190af475');
background-size:cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.hero h1{
font-size:45px;
}

.hero p{
font-size:20px;
margin:20px;
}

.btn,button{
background:#00a8e8;
color:white;
padding:15px 25px;
border:0;
}

section{
padding:80px 8%;
}

h1,h2{
margin-bottom:30px;
text-align:center;
}

.center{
text-align:center;
font-size:18px;
}

.cards{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}

.card{
padding:30px;
width:300px;
box-shadow:0 5px 20px #0002;
}

form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,textarea{
padding:15px;
}

footer{
background:#102542;
color:white;
text-align:center;
padding:20px;
}
